.footer {
    /* margin-left: 150px; */
    background: #0f172a;
    color: #f8fafc;
    padding: 60px 0 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    font-family: 'Inter', sans-serif;
}

.container {
  
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 250px;
}


.section h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.section h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: #3b82f6;
    /* Accent color */
}

.section p {
    color: #ffffff;
    line-height: 1.6;
    margin-bottom: 10px;
}

.section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.section ul li {
    margin-bottom: 12px;
}

.section ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.section ul li a:hover {
    color: #3b82f6;
}

.bottom {
    margin-top: 50px;
    padding-top: 20px;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    color: #ffffff;
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 480px) {
    .container {
        grid-template-columns: 1fr;
    }
}